.latest-ad-section {
  background-color: #4097e3;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.wave-decoration-top {
  z-index: 1;
  pointer-events: none;
  top: 0;
  position: absolute;
  width: 100%;
  transform: scaleX(-1);
}
.video-container {
  height: 360px;
  border-radius: 2rem;
  background-color: #282828;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.video-container i {
  flex-shrink: 0;
}
.video-container p {
  font-size: 0.95rem;
  line-height: 1.4;
}
