:root {
  --bs-primary: #0074d9;
  --bs-primary-rgb: 30, 136, 229;
}
@media (max-width: 768px) {
  .display-4 {
    font-size: 2rem;
  }

  .display-5 {
    font-size: 1.5rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0074d9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0074d9;
}
